<h1>Contact List</h1>

<!-- Create new -->

<h3>Create new</h3>
<form method="post" action="/contact/new">
  <div>
    <label>First Name:</label>
    <input type="text" name="firstname" placeholder="first" required="true">
  </div>
  <div>
    <label>Last Name:</label>
    <input type="text" name="lastname" placeholder="last" required="true">
  </div>
  <div>
    <label>Email:</label>
    <input type="email" name="email" placeholder="email" required="true">
  </div>
  <div>
    <input type="submit" value="Save">
  </div>
</form>

<!-- List all -->
<hr>

<h3>List</h3>
<form method="get" action="/contacts">
  <div>
    <input type="submit" value="All">
  </div>  
</form>
<% if @contacts %>
  <% @contacts.each do |contact| %>
    <div>
      <%= contact.echo %>
    </div>
  <% end %>
<% end %>

<!-- Find (id, first_name, last_name, email) -->
<hr>

<h3>Find/Search</h3>
<form method="get" action="/contacts/:id">
  <div>
    <label>Search:</label>
    <input type="text" name="query" placeholder="by first/last/email">
  </div>
  <div>
    <input type="submit" value="Search">
  </div>  
</form>

<!-- Delete -->
<hr>

<h3>Delete</h3>
<form method="get" action="/contact/delete">
  <div>
    <label>Delete:</label>
    <input type="text" name="id" placeholder="by id # (integer)">
  </div>
  <div>
    <input type="submit" value="Delete">
  </div>  
</form>

<!-- Add phone -->
<hr>

<h3>Add phone</h3>
<form method="post" action="/contact/phone/new">
  <div>
    <label>Phone:</label>
    <input type="text" name="phone" placeholder="#x9" required="true">
  </div>
  <div>
    <label>Label:</label>
    <input type="text" name="label" placeholder="label" required="true">
  </div>

  <div>
    <label>Add to contact #:</label>
    <input type="text" name="id" placeholder="by id # (integer)">
  </div>
  <div>
    <input type="submit" value="Add phone">
  </div>  
</form>
